<!-- <h1 class="text-center">Welcome to Admin Dashboard!!</h1> -->
<div class="bootstrap-wrapper" style="background-color: #f8f9fa; padding: 20px;">
    <div class="container-fluid">
        <div class="row">
            
  
            <div class="col-md-9" style="background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
              
                <div class="welcome-message" style="margin-bottom: 20px;">
                    <h2>Welcome, Admin !!</h2>  
                </div>
  
              <div>  <!-- Additional Card with Information -->
                <div class="dashboard-card" style="background-color: #e9ecef; padding: 15px; border-radius: 5px;">
                    <h3>Dashboard Information</h3>
                    <p>This is your Admin Dashboard.</p>
                </div>
                <div class="admin-instructions" style="background-color: #e9ecef; padding: 15px; border-radius: 5px; margin-bottom: 20px;">
                  <h3>Exam Portal Admin Instructions</h3>
                  <ul>
                      <li>Create and Manage Categories Using the Sidebar.</li>
                      <li>Create and Manage Quizzes Using the Sidebar.</li>
                      <li>Review,Delete and Update Questions as Needed.</li>
                      <li>Adjust Quiz settings for Marks, Number of Questions, etc.</li>
                  </ul>
              </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  